<div id="section-logo">
    <img id="logo" src="/img/brand-logo.png"/>
</div>
<div class="container content-container">
    <div id="section-header">
        <h2 id="header">Our website is currently under maintenance to serve you better, please reach us through the details below.</h2>
    </div>

    <div id="section-image">
        <img id="image" src="/img/map.png"/>
    </div>

    <div id="section-info">
        <div id="info">
            <span class="info-header">Laiya Coco Grove</span>
            <span class="info-address">Km.20 Brgy. Laiya, Aplaya, San Juan, Batangas</span>
            <span class="info-text">Site Office: (+63) 908 896-0776</span>
            <span class="info-text">Makati Office: (+63) 908 896-0774</span>
            <span class="info-text">Tel. Nos. (+632) 894-1057 ; 892-6009</span>
            <span class="info-text">Fax No. (+632) 894-1058</span>
        </div>
    </div>
</div>